

body {

    margin: 0;
    padding: 20px;

    font-family: Arial, sans-serif;

    background-color: #f4f6f9;

}


.container {

    display: grid;

    grid-template-columns: repeat(3, 1fr);


    gap: 100px;

}




.card {

    width: 250px;

    background: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 6px 15px rgba(0,0,0,0.2);

    transition: 0.3s;
    

}




.card:hover {

    transform: scale(1.05);

}



.header {

    background: #1e293b;

    color: white;

    text-align: center;

    padding: 10px;

    font-size: 14px;

}




.profile {

    text-align: center;

    padding: 15px;

}


.profile img {

    width: 80px;
    height: 80px;

    border-radius: 10%;

    border: 3px solid #1e293b;

}


.profile h4 {

    margin: 8px 0 2px;

}


.role {

    color: rgb(15, 12, 12);

    font-size: 13px;

}


.details {

    padding: 10px 15px;

    font-size: 14px;

}


.details p {

    margin: 4px 0;

}

.footer {

    background: #1e293b;

    padding: 3px;


}

.footer img{
    height: 50px;
    width: 250px;

    
}